body {
	margin: 0;
	padding: 0;
}

/* top left #02A74B */
/* top right #9C121C */
/* bottom left #CBA60C */
/* bottom right #1D8CFF */

#green {
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	position: absolute;
	top: 0;
	left: 0;
	right: calc(50% - 10px);
	bottom: calc(50% - 10px);
	background-color: #2ecc71;
}

#orange {
	border-left: 10px solid white;
	border-bottom: 10px solid white;
	position: absolute;
	top: 0;
	left: calc(50% - 10px);
	right: 0;
	bottom: calc(50% - 10px);
	background-color: #f39c12;
}

#yellow {
	border-right: 10px solid white;
	border-top: 10px solid white;	
	position: absolute;
	top: calc(50% - 10px);
	left: 0;
	right: calc(50% - 10px);
	bottom: 0;
	background-color: #eeee08;
}

#blue {
	border-left: 10px solid white;
	border-top: 10px solid white;	
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	right: 0;
	bottom: 0;
	background-color: #3498db;
}

.button{
	transition: all 0.2s;
}

.picked {
  opacity: 0.7;
}


.ui.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui.raised.segment {
	max-width: 85%;
	text-align: center;
}

.ui.raised.segment > * {
	margin: 8px;
}