body {
	margin: 0;
	padding: 0;
}

/* top left #02A74B */
/* top right #9C121C */
/* bottom left #CBA60C */
/* bottom right #1D8CFF */

#green {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 50%;
	background-color: #02A74B;
}

#red {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 50%;
	background-color: #9C121C
}

#yellow {
	position: absolute;
	top: 50%;
	left: 0;
	right: 50%;
	bottom: 0;
	background-color: #CBA60C
}

#blue {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	background-color: #1D8CFF
}

.button{
	transition: all 0.2s;
}

.picked {
  opacity: 0.7;
}


.ui.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui.raised.segment {
	max-width: 85%;
	text-align: center;
}

.ui.raised.segment > * {
	margin: 8px;
}